// grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

// font
$default-font-size: 1.6rem;

// colors 1C4073
$color-primary: #65afffff;
$color-primary-light: #99CAFF;
$color-primary-dark: #1F8BFF;

$color-secondary: #6665ddff;

$color-tertiary: #102542ff;
$color-tertiary-light: #1C4073;
$color-tertiary-dark: #0F172A;

$header-bg :#183763;
// text color
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-white: #fff;
$color-black: #888;
$color-dark: #18181B