.heading {

  &--primary {
    font-family: "Montserrat", sans-serif;
    font-size: 3.6rem;
    margin-bottom: 2rem;
    font-weight: 300;
    width: 100%;
    text-align: left;
    line-height: 1.3;
    // padding-bottom: 3rem;
    // border-bottom: 2px solid greenyellow;

    // &::after {
    //   display: inline-block;
    //   content: "-";
    //   width: 100%;
    //   background-color: green;
    //   color: yellow;
    //   margin-top: 2rem;
    //   text-align: right;
    //   height: 2rem;
    //   clip-path: polygon(60% 0, 100% 0, 100% 100%, 50% 100%);
    // }
  }

  &--secondary {
    font-family: "Montserrat", sans-serif;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 200;
    width: 100%;
    text-align: left;
    line-height: 1.7;

    &.ter {
      text-align: center;
    }
  }
}

.typo {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: left;
  margin-bottom: 4rem;
  animation: moveInLeft 1s ease-out
}

.text {
  &__primary {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.7;
    text-align: left;
    
  }
}