@import '../abstract//variables';
.heading {
  
  &--primary {
    font-family: "Montserrat", sans-serif;
    font-size: 3.6rem;
    margin-bottom: 2rem;
    font-weight: 300;
    width: 100%;
    text-align: left;
    line-height: 1.3;

    @include respond(small-phone) {
      text-align: center;
      margin-bottom: 4rem;
      font-weight: 600;
      font-size: 4rem;
    }
  }

  &--secondary {
    font-family: "Montserrat", sans-serif;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: 200;
    width: 100%;
    text-align: left;
    line-height: 1.7;

    @include respond(small-phone) {
      text-align: center;
      font-size: 4.8rem;
      font-weight: 500;
    }

    &.ter {
      text-align: center;
    }
  }
}

.typo {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: left;
  margin-bottom: 4rem;
  animation: moveInLeft 1s ease-out;

  @include respond(small-phone) {
    font-size: 2.8rem;
    line-height: 1.7;
  }
}

.text {
  &__primary {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.7;
    text-align: left;

    @include respond(small-phone) {
      font-size: 2rem;
      font-weight: 400;
      padding: 3rem;
      line-height: 2;
    }
  }
}

.heading__text--main {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  padding-top: 2rem;
  color: rgba($color-grey-dark-3, $alpha: 0.8);
  word-spacing: 1rem;
  letter-spacing: 0.35rem;
  display: block;

  @include respond(small-phone) {
    font-size: 3.6rem;
    font-weight: 600;
  }
}