.header {
  width: 100%;
  height: 12rem;
  background-color: white;
  box-shadow: 0.1rem 0.3rem 2rem gray;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-top: 3rem;

  @include respond(small-phone) {
    height: 15rem;
    padding-top: 3rem;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__logo {
    height: inherit;
    width: inherit;

    &__box {
      height: 5rem;
      width: auto;
      text-align: left;
      display: inline-block;

      @include respond(small-phone) {
        height: 10rem;
      }
    }

    &__text {
      font-size: 2.4rem;
      font-weight: 500;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      display: inline-block;
      margin-left: 0.5rem;
      text-align: center;

      @include respond(small-phone) {
        font-size: 2.8rem;
        font-weight: 700;
        display: inline-block;
        position: absolute;
        top: 6rem;
        // left: 10rem;
        vertical-align: middle;
      }

      &-box {
        display: inline-block;
      }
    }
  }

  &__btn-box {
    text-align: right;

    @include respond(small-phone) {
      display: none;
    }
  }
}
