/* general reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* start off */
body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.heading--primary {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  margin-bottom: 2rem;
  font-weight: 300;
  width: 100%;
  text-align: left;
  line-height: 1.3;
}

.heading--secondary {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-weight: 200;
  width: 100%;
  text-align: left;
  line-height: 1.7;
}

.heading--secondary.ter {
  text-align: center;
}

.typo {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: left;
  margin-bottom: 4rem;
  animation: moveInLeft 1s ease-out;
}

.text__primary {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7;
  text-align: left;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }
  80% {
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.intro {
  margin-top: 5rem;
}

.wallet {
  height: 2.4rem;
  width: 2.4rem;
  padding-top: 5px;
}

.image-banner {
  width: 100%;
  padding-top: 10rem;
  animation: moveInBottom 2s ease-out;
}

.wallets {
  width: 70%;
  margin: 0 auto;
}

.wallets > .text__primary {
  text-align: center;
}

.header {
  width: 100%;
  height: 12rem;
  background-color: white;
  box-shadow: .1rem .3rem 2rem gray;
  position: relative;
}

.header__logo {
  height: inherit;
  width: inherit;
  margin-right: 2rem;
}

.header__logo__box {
  position: absolute;
  left: 10rem;
  top: 4rem;
  height: 5rem;
}

.header__logo__text {
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.header__btn {
  position: absolute;
  top: 2rem;
  right: 20rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - (2 * 6rem)) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - (2 * 6rem)) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - (3 * 6rem)) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - (3 * 6rem)) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
}

.row .col-1-of-5 {
  width: calc((100% - (4 * 6rem)) / 5);
}

.footer {
  height: 10rem;
  background-color: whitesmoke;
  border-top: 1px solid #e1e1e1;
  padding: 3.5rem;
}

.footer__text {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
}

.footer__icon {
  display: inline-block;
  transition: all 0.2s;
}

.footer__icon > .facebook:hover {
  stroke: #1877f2;
  transform: scale(0.9);
}

.footer__icon > .instagram:hover {
  stroke: #e4405f;
  transform: scale(0.9);
}

.footer__icon > .twitter:hover {
  stroke: #1da1f2;
  transform: scale(0.9);
}

.footer__icon:not(:last-child) {
  margin-right: 2.5rem;
}

.footer__icon-box {
  text-align: right;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: white;
  border: none;
  padding: 2rem 6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  line-height: 1;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-connect {
  top: inherit;
  display: block;
  background-color: black;
}

.btn-connect:hover, .btn-connect:focus {
  background-color: #2b2a2a;
  transform: scale(1.1) translateY(-0.2rem);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.btn-intro {
  background-color: #102542;
  color: white;
  display: inline-block;
  padding: 3rem 4rem;
}

.btn-intro:hover {
  transform: scale(1.05) translateY(-0.2rem);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.image {
  width: 75%;
  margin: 0 auto;
}

.image__shape {
  width: 12rem;
  height: 12rem;
  position: relative;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.image__image {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  backface-visibility: hidden;
}

.image__caption {
  opacity: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  backface-visibility: hidden;
  text-align: center;
  transition: all 0.3s;
}

.image:hover .image__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.image:hover .image__image {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}
